body {
    margin: 0;
    font-family: Arial;
    background: #f8f4ec;
    color: #333;
}

header {
    background: #fffaf3;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #d4b996;
    border: none;
    cursor: pointer;
}

.cv-container {
    max-width: 700px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.contact-container {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
